@keyframes moveInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-10rem); /*x is left to right, y is top to bottom*/
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0); /* way it looks right now */
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0; 
        transform: translateY(3rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}