.form {
    &__group:not(:last-child) { //so margin except last
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; //automatically inherit font family
        padding: 1.5rem 2rem;
        color: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent; //2:added so that it doesn't move when input is in focus
        width: 90%;
        display: block;

        &:focus {
            outline: none; //takes away blue around input form
            box-shadow: 0 1rem 2rem rgba($color-black, .1); //for acessibility reasons
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid { //pseudo class for input
            border-bottom: 3px solid $color-secondary-dark; //1           
        }

        &::-webkit-input-placeholder { //only work on safari and chrome
            color: $color-grey-dark-2;
        } 

    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem; 
        margin-top: .7rem;
        display: block; //needed to use box model
        transition: all .3s; //2: added after input:placeholder-shown
    }

    &__input:placeholder-shown + &__label { //+ SIBLING SELECTOR, if there's more elements between, need ot use ~ Sibling Selector
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem)
    }
}